<% include ../header.ejs %>
<body>
	<!-- <form action="/admin/addcate" method="POST"> -->
		<label>添加分类</label>
		<input type="text" name="cate" id="cate">
		<input type="submit" class="sub-cate">
	<!-- </form> -->
	<script src="/js/lib/jquery-1.11.2.js"></script>
	<script src="/js/admin.js"></script>
</body>
</html>