<% include ../header.ejs %>
<link rel="stylesheet" type="text/css" href="/css/admin.css">
<body>
	<!-- <form action="/admin/addcate" method="POST"> -->
		<label>发表</label>
		<select name="cate" class="select">
			<option value="book" id="option">书籍</option>
			<option value="music" >歌曲</option>
			<option value="article" >文章</option>
			<option value="people" >人物</option>
			<option value="news" >新闻</option>
			<option value="os" >开源</option>
			<option value="zhihu" >知乎</option>
			<option value="weibo" >微博</option>
			<option value="website" >网站</option>
			<option value="movie" >电影</option>
		</select>
		<label>tilte</label>
		<input type="text" name="title" id="title">
		<label>url</label>
		<input type="text" name="url" id="url">
	
		<label class="comment">简介</label>
		<input type="text" name="comment" id="comment">


		<input type="submit" class="sub-tui">
		

	<!-- </form> -->
	<script src="/js/lib/jquery-1.11.2.js"></script>
	<script src="/js/admin.js"></script>
</body>
</html>